@import '../../css/fonts.css';
@import '../../css/vars.css';
:root {
    --project-width: min(calc(100vw - 40px), 400px);
    --image-width: calc(var(--project-width) - 50px);
    --image-hover: calc(var(--project-width) + 80px);
}

.projectContainer {
    margin: 2em;
}

.project {
    background-color: var(--accent1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--project-width);
    height: var(--project-width);
}

.projectImg {
    overflow: visible;
    width: var(--image-width);
    -webkit-filter: drop-shadow(0px 70px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 70px 5px rgba(0, 0, 0, 0.5));
}

.title {
    text-align: center;
}