/* // $background: #131313;
// $text: #959595;
// $text-accent: #FFFFFF;

// $colour1: #EB4C49;
// $colour2: #E03D5B;
// $colour3: #C54F81; */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

:root {
    --background: #131313;
}

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif !important;
    color: #959595;
}

html {
    background-color: var(--background);
}

p {
    font-family: 'Raleway', sans-serif;
    color: #959595;
}

a {
    font-family: 'Raleway', sans-serif;
    color: #959595;
    text-decoration: none;
}

h1 {
    font-family: 'Cabin Sketch', cursive !important;
    margin-top: 1em !important;
    margin-bottom: 0em !important;
}


