@import '../css/fonts.css';
@import '../css/vars.css';
html {
    background-color: var(--background);
    color: var(--color);
}

.home {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight {
    font-weight: 900;
    background: linear-gradient(-45deg, #F07777, #EF6BCA, var(--accent1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.heading {
    margin: 1em 0 1em 0;
}

.subHeading {
    margin: 1em 0 1em 0;
}

.sectionHeading {
    margin: 4em 0 1em 0;
}

.underline {
    display: inline-block;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.underline:after {
    position: absolute;
    content: '';
    bottom: 2px;
    left: 5px;
    height: 4px;
    width: 0%;
    background-color: var(--color);
    animation: underline 1s ease-in-out 500ms forwards;
}

@keyframes underline {
    to {
        width: 90%;
    }
}