@import '../css/fonts.css';
@import '../css/vars.css';
html {
    background-color: var(--background);
    color: var(--color);
}

.home {
    padding: var(--padding);
}

.highlight {
    font-weight: 900;
    background: -webkit-linear-gradient(#F07777, #EF6BCA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading {
    margin: 1em 0 1em 0;
}

.subHeading {
    margin: 1em 0 1em 0;
}

.sectionHeading {
    margin: 4em 0 1em 0;
}

*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* .underline {
    text-decoration: none;
    position: relative;
    z-index: 1;
    border-bottom: 5px dashed black;
    animation: underlineAnim 2s forwards 1s;
}

.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--color);
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
} */

/* .underline:hover:before, .underline:focus:before {
    visibility: visible;
    transform: scaleX(1);
} */


.underline2 {
    border-bottom: 5px solid black;
}