@import '../../css/fonts.css';
@import '../../css/vars.css';

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--header-height);
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emptyDiv{
    min-height: var(--header-height);
}

.headerLeft {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.headerRight {
    padding-right: 20px;
}

.company {
    padding-left: 20px;
}

.headerLogo {
    height: 45px;
}

button {
    border: none;
    background-color: var(--background);
}

.menuClosed {
    height: 30px;
}