* {
  max-width: 100%;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  background-color: #eeeeef;
  color: #727373;
  height: 100%;
}

h1 {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.highlightTitle {
  background-color: #c5ebf1;
  margin-top: 0.5em;
}


figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure > img {
  max-width: 100%;
}


/* START: Formatting for code blocks */
pre {
  background-color: #2d2d2d;
  color: #eeeeef;
  padding: 1em;
  border-radius: 5px;
  tab-size: 4;
}

pre {
	white-space: pre-wrap;                 /* css3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ mozilla  */
	white-space: -pre-wrap;                /* opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* opera 7 and up */
	word-wrap: break-word;                 /* ie 5.5+ and up */
}


/* END: Formatting for code blocks */