html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: #EEEEEF;
  color: #727373;
}

h1 {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.highlightTitle {
  background-color: #C5EBF1;
  margin-top: 0.5em;
}


pre:hover,
pre:focus {
  width: min-content;
}

pre {
  background-color: #2d2d2d;
  color: #eeeeef;
  padding: 1em;
  border-radius: 5px;
  font-family: monospace, monospace;
  tab-size: 4;
}

