html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Quicksand', sans-serif
}

h1 {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.highlightTitle {
  background-color: #C5EBF1;
  margin-top: 0.5em;
}
